:root{ 
    --blue: #007bff;
    --dark: #343a40;
}    

a{
    text-decoration: none;
}

.headerNavBar{
    margin: 0px 8px;
}

.headerNavBar a{
    margin: 0px .5rem;
}

.sticky-header{
    background-color: var(--color);
}

.navLinks::after {
    content: '';
    display: block;
    height: 0.3rem;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    background-color: var(--blue);
}

.navLinks:hover::after{
    transform: scaleX(1);
}

.navLinks:focus::after{
    transform: scaleX(1);
}

.profileBtn, .searchBtn{
    border: none;
    border-radius: 0px;
    font-size: 1.2rem;
}

.searchBar{
    width: 10rem;
}

.searchBtn{
    width: 1.9rem;
    background: transparent;
}

.searchBtn .favBtn{
    font-size: 1.7rem;
    width: 1.4rem;
}

.favBtn, .cartBtn{
    width: 1.9rem;
    margin: auto 5px;
}

@media (max-width: 235px){
    .headerNavBar{
        margin: 0px;
    }
}