.products-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.product-card {
    height: auto;
	width: 13.625rem;
	margin: 0.625rem;
	background-color: #f9f9f9;
	padding: 0.625rem;
	box-shadow: 0 0 0.625rem #ccc;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.product-card img:hover{
	transform: scale(1.2);
	transition-duration: .5s;
}

.addFav{
	display: flex;
    justify-content: end;
}

.favBtn{
	width: 1.3rem;
	z-index: 1;
}

.product-card img:not(.favBtn) {
	width: 100%;
}

@media (max-width: 350px){
    .product-card{
        width: 10rem;
	}
}

@media (max-width: 235px){
    .product-card{
        width: 70vw;
	}
}